<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <style>
        .flag{
            margin-top: 50px;
            border: 3px solid grey;
            border-radius: 50px;
            width: 100px;
            height: 100px;
        }
        footer{
          width: 100%;
          height: 75px;
          background-color: rgb(97, 155, 231);
          text-align: center;
          justify-content: center;
          padding-top: 30px;
          margin-top: 80px;
          color: aliceblue;
          position: absolute;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Davao</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/jakarta">Jakarta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/berlin">Berlin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ottawa">Ottawa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/moscow">Moscow</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <main>
        <center>
            <% console.log (weatherdavao[0].forecast)%>
            <div><img class="flag" src="https://cdn-icons-png.flaticon.com/512/197/197561.png">
                <h4><%= weatherdavao[0].location.name %></h4>
                <h4>Temperature(C) <%= weatherdavao[1].current.temperature%></h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Weather</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td scope="row">Today</td>
                        <td><%= weatherdavao[1].current.date%></td>
                        <td><%= weatherdavao[1].current.skytext%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row"><%= weatherdavao[1].forecast[0].day%></td>
                        <td><%= weatherdavao[1].forecast[0].date%></td>
                        <td><%= weatherdavao[1].forecast[0].skytextday%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row"><%= weatherdavao[1].forecast[1].day%></td>
                        <td><%= weatherdavao[1].forecast[1].date%></td>
                        <td><%= weatherdavao[1].forecast[1].skytextday%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row"><%= weatherdavao[1].forecast[2].day%></td>
                        <td><%= weatherdavao[1].forecast[2].date%></td>
                        <td><%= weatherdavao[1].forecast[2].skytextday%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row"><%= weatherdavao[1].forecast[3].day%></td>
                        <td><%= weatherdavao[1].forecast[3].date%></td>
                        <td><%= weatherdavao[1].forecast[3].skytextday%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row"><%= weatherdavao[1].forecast[4].day%></td>
                        <td><%= weatherdavao[1].forecast[4].date%></td>
                        <td><%= weatherdavao[1].forecast[4].skytextday%></td>
                        <td><img src="<%= weatherdavao[1].current.imageUrl%>"></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </main>
    <footer> <h5>Created by Ashley Lim.  All rights reserved.</footer></h5>
    
</body>
</html>